*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    margin: auto;
    max-width: 1200px
}
/*HEADER*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px 20px 20px;
    margin-bottom: 100px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 30px;
    margin-right: 10px;
}
.logo span{
    font-size: 22px;
    font-weight: bold;
    border-left: 2px solid #000;
    padding-left: 20px;
}
.header-rightside{
    align-items: center;
}
.header-rightside span{
    font-size: 22px;
    font-weight: bold;
    height: 100%;
}

/*MAIN*/
.main h1{
    margin-bottom: 75px;
    font-size: 55px;
    letter-spacing: 0.5px;
    font-weight: 200;
}
.main p{
    font-size: 18px;
    letter-spacing: .3px;
    font-weight: 200;
    margin-bottom: 20px;
}
.main button{
    margin-bottom: 45px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e94b3d;
    color: #fff;
    -webkit-box-shadow: 7px 7px 8px -5px rgba(0,0,0,0.48);
    -moz-box-shadow: 7px 7px 8px -5px rgba(0,0,0,0.48);
    box-shadow: 7px 7px 8px -5px rgba(0,0,0,0.48);
    cursor: pointer;
}
/*AWWARDS*/
.awwards img{
    height: 35px;
}

.awwards img:not(:last-child){
    margin-right: 25px;
}


/*MEDIA QUERIES*/
@media (max-width: 1199px){
    .container {
        max-width: 960px;
    }
  }
@media (max-width: 991px) {
    .container {
        max-width: 720px;	
    }
}
  
@media (max-width: 767px){
    .container {
        max-width: 540px;
    }
  }

  @media (max-width: 575px){
    .container{
        margin: auto;
    }
    .header span{
        font-weight: 500;
        font-size: 18px;
    }
  }
  

  

